/* 
id: significa elemento unico. 
id: se recomienda el guion medio 
class: significa 

La especifidad funciona
nav a{}         baja
.navegacion a{} media  las clases son mas rapidos
#navegacion a{} alta
*/

/*
Formas para llevar nuestro codigo bien hecho
MODULOS: dejar mas limpio el html
BEM
SMACSS
*/

/*
Box Model tiene 4 puntos importantes
1. contenido
2. padding(relleno)
3. borde
4. Margen
*/
h1 {
  font-size: 25px;
  color: green;
}

/* BOX MODEL */
.sobre-nosotros {
  background-color: red;
  width: 200px;
  padding: 25px;
  box-sizing: border-box; /*permite no pasarse del tamaño cuando se le asigna padding*/
}

.sobre-empresa {
  background-color: blue;
  width: 500px;
  padding: 100px;
  box-sizing: border-box;
}

/*Display
viene por default
diplay-block: significa que un elemento colocara por debajo del otro sin importar su tamaño.
display-inline: significa qeu el elemento se posicionara a la derecha una vez tomado el espacio.
display inline-block: permite darle un width, height, margin a un elemnto inline
*/

/*Medidas de las fuentes
  se utiliza rem
*/

/*
Estilos de CSS
BEM - Block Element Modifier
.card {}
.card__titulo {}
Modulos CSS
.card{}
.card h2{}
SMACSS => arquitectura escalable
#header, #article, #footer{
  width:960;
Se recomienda utilizar 1 maximo 2
}
*/

/*
cssGrid
flex-basis : es el ancho del elemento
*/
